@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Unica+One&display=swap");
@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-cinzel: "Cinzel", serif;
  --font-merriweather: "Merriweather", serif;
  --font-unica-one: "Unica One", sans-serif;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  font-family: var(--font-poppins);
}
.heading {
  background: linear-gradient(to bottom, #005c48, #1aa584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.date {
  background: linear-gradient(to left, rgb(88, 88, 212), #1338be);
}

.live {
  background: linear-gradient(to left, #1c2028, #1338be);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
    color: rgb(216, 88, 56);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid gray;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
